@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0;
  @apply p-0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  @apply box-border;
}
html {
  @apply font-normal;
  font-style: normal;
  font-size: 62.5%;
  @apply scroll-smooth;
  @apply font-primary;
}
body {
  @apply antialiased;
  @apply font-primary;
}
a {
  text-decoration: none;
}
p {
  @apply mb-0;
}
ul,
li {
  @apply list-none;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  @apply bg-transparent;
  background-image: none;
  @apply text-black;
}
figure {
  @apply m-0;
}
svg,
img {
  @apply max-w-full;
  @apply h-auto;
}

// Common Button styles
.btn_primary {
  @apply bg-primary-100;
  @apply text-white;
  @apply transition-all;
  &:hover {
    @apply bg-primary;
  }
}

// Form Control page Css
.form_group {
  label {
    @apply w-full;
    @apply inline-block;
    @apply text-md;
    @apply font-medium;
    @apply font-primary;
    @apply mb-2;
  }
  .form_control {
    @apply border border-primary-200;
    @apply rounded-sm;
    @apply px-2 pb-1;
    @apply h-10;
    @apply text-md;
    &:focus {
      @apply outline-none;
      @apply shadow-md;
    }
  }
}
